.timelineCenter-line{
    position : absolute;
    height: 100%;
    width: 5px;
    background: #517DB9;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
}

.timeline {
    display: grid;
    grid-gap: 75px;
    grid-column-gap: 110px;
    /*background-color: white;*/
    background-color: transparent;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 300px;
    height: 100%;
    width: 85%;
    margin: auto;
    position: relative;
    color: white;
    font-size: 20px;
    font-family: Rubik Regular, sans-serif;
}

.timeline .empty {
    visibility: collapse;
}

.timelineEvent {
    grid-row: span 2;
    width: 100%;
    background-color: transparent;
    position: relative;
    display: flex;
    border-radius: 5px;
}


.timelineEvent .timelineSection::before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    background: #2C5697 ;
    z-index: 1;
    top: 25px;
    transform: rotate(45deg);
}


.timelineEventBox {
    width: 100%;
    /*border: 5px solid #ce43eb;*/
    height: 100%;
    background-color: transparent;
}

.timelineSection{
    position: relative;
    width: 100%;
    background-color: #2C5697;
    border-radius: 5px;
}

.timelineEvent:nth-child(even) .timelineSection::before{
    left: -10px;
}

.timelineEvent:nth-child(odd) .timelineSection::before{
    right: -10px;
}

.timelineEvent .dotIcon,
.timelineEvent .textIcon,
.timelineEvent .lineIcon{
    position: absolute;
    z-index: 1;
    background:  #517DB9;
    border-radius: 30%;
    box-shadow: 0 0 0 4px #2C5697, inset 0 2px 0 rgba(0,0,0,0.08), 0 3px 0 4px rgba(0,0,0,0.05);

}

.timelineEvent .lineIcon {
    height: 0;
    width: 30px;
}

.timelineEvent .dotIcon {
    height: 20px;
    width: 20px;
}

.timelineEvent .textIcon {
    height: 70px;
    width: 70px;
    font-size: 15px;
}

.textIcon p {
    text-align: center;
    position: relative;
    top: 30%;
    transform: translateY(-50%);
    padding: 3px;
}

.timelineEvent .lineIcon {
    top: 35px;
}

.timelineEvent:nth-child(even) .lineIcon {
    left: -70px;
}

.timelineEvent:nth-child(odd) .lineIcon {
    right: -70px;
}

.timelineEvent .dotIcon {
    top: 25px;
}

.timelineEvent:nth-child(even) .dotIcon {
    left: -65px;
}

.timelineEvent:nth-child(odd) .dotIcon {
    right: -65px;
}

.timelineEvent:nth-child(even) .textIcon{
    left: -90px;
}

.timelineEvent:nth-child(odd) .textIcon {
    right: -90px;
}

.timelineContent {
    position: relative;
    /*overflow: hidden;*/
    max-width: 100%;
    height: auto;
    padding: 20px;
}

.timelineReadMore {
    position:relative;
    padding: 20px 0 20px 20px;
    height: 100%;
}

.timelineReadMore button{
    width: auto;
    height: 40px;
    padding: 10px 25px;
    border: 2px solid white;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    position: relative;
    display: inline-block;
    color: white;
}

.timelineReadMore button:after{
    position: absolute;
    content: "";
    top: 5px;
    width: auto;
    right: 5px;
    left: 5px;
    height: 70%;
    border: 1px solid white;
    opacity: 0;
}

.timelineReadMore button:hover::after{
    opacity: 1;
}

.timelineContent  img,

.timelineContent  video, .timelineContent  iframe,
.timelineModalContent img,
.timelineModalContent  video, .timelineModalContent  iframe{
    max-width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Modal css is took from https://www.w3schools.com/howto/howto_css_modals.asp*/
.timelineModal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    border-radius: 5px;
}

.timelineModal button {
    float: right;
}

.timelineModalContent {
    position: relative;
    background-color: #2C5697;
    margin: auto;
    padding: 20px;
    width: 65%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius: 5px;
    height: 80%;
    overflow-y: auto;
    top:50%;
    transform: translateY(-50%);
}


@media only screen and (max-width: 640px) {
    .timeline {
        top: 20px;
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        padding-left: 50px;
        left: 20px;
        width: 80%;
    }

    .timelineEventBox {
        width: 100%;
        height: 100%;
        background-color: #2C5697;
        border-radius: 5px;
    }


    .timelineCenter-line {
        left: -5px;
        height: 100%;
        width: 5px;
        top: 20px;
        transform: translateX(-50%);
    }

    .timelineEvent .textIcon {
        left: -90px;
    }

    .timelineEvent .dotIcon {
        left: -65px;
    }

    .timelineEvent .lineIcon {
        left: -70px;
    }


    .timelineSection::before{
        left: -10px;
        z-index: 0;
    }


}