body {
    box-sizing: border-box;
    margin: 20px;
    width:100%;

    display:flex;
    justify-content: center;
    align-items: center;
}

.timelineCenter-line{
    position : absolute;
    height: 100%;
    width: 5px;
    background: #517DB9;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
}

.timeline {
    display: grid;
    grid-gap: 50px;
    grid-column-gap: 110px;
    background-color: white;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 200px;
    height: 100%;
    width: 85%;
    margin: 0;
    position: relative;
    color: white;
    font-size: 20px;
}

.timeline .empty {
    visibility: collapse;
}

.timelineEvent {
    grid-row: span 2;
    width: 100%;
    /*margin: 10px;*/
    border-radius: 5px;
    background-color: #2C5697;
    position: relative;
    display: flex;
}


.timelineEvent .timelineSection::before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background:  #2C5697;
    z-index: 1;
    top: 20px;
    transform: rotate(45deg);
}


.timelineEventBox {
    width: 100%;
    padding: 20px;
    position: relative;
}

.timelineSection{
    height: 100%;
    position: relative;
    width: 100%;
}

.timelineEvent:nth-child(even) .timelineSection::before{
    left: -25px;
}

.timelineEvent:nth-child(odd) .timelineSection::before{
    right: -25px;
}

.timelineEvent .icon {
    position: absolute;
    z-index: 2;
    background:  #517DB9;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    font-size: 15px;
    text-align: center;
    box-shadow: 0 0 0 4px #2C5697, inset 0 2px 0 rgba(0,0,0,0.08), 0 3px 0 4px rgba(0,0,0,0.05);
}

.timelineEvent:nth-child(even) .icon {
    left: -105px;
}

.timelineEvent:nth-child(odd) .icon {
    right: -105px;
}

.timelineContent {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
}


.timelineContent > img  {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.timelineContent video, .timelineContent iframe {
    width: 420px;
    height: 315px;
    max-width: 100%;
    object-fit: contain;
}

    @media only screen and (max-width: 640px) {
    .timeline {
        margin-left: 20px;
        padding-left: 50px;
        padding-right: 8.5%;
        display: grid;
        grid-template-columns: 100%;
        grid-column-gap: 0;
        grid-row-gap: 30px;
    }
    .timelineEventBox {
        padding: 10px;
    }

    .timeline > div:not(.timelineEvent, .timelineCenter-line) {
        display: none;
    }

    .timelineCenter-line {
        left: -0px;
        height: 100%;
        width: 5px;
        top: 20px;
        transform: translateX(-50%);
    }

    .timelineEvent:nth-child(even) .icon {
        left: -89px;
    }

    .timelineEvent:nth-child(odd) .icon {
        left: -89px;
    }

    .timelineEvent:nth-child(even) .timelineSection::before,
    .timelineEvent:nth-child(odd) .timelineSection::before{
        left: -18px;
    }


}